img {
	width: 100%;
}

h2 {
	font-weight: 400!important;
	padding: 16px 0 0 16px!important;
}

.mdl-card__supporting-text {
	font-weight: 600;
}

.fixed-menu-button {
	position: fixed;
	bottom: 12%;
	right: 6%;
	z-index: 999;
}

.mdl-menu.mdl-menu--top-right {
	position: fixed!important;
	top: initial!important;
	left: initial!important;
	bottom: 16%!important;
	right: 6%!important;
	width: 180px!important;
	height: 250px!important;
}

.mdl-menu__outline.mdl-menu--top-right {
	position: fixed!important;
	top: initial!important;
	left: initial!important;
	bottom: 16%!important;
	right: 6%!important;
	width: 180px!important;
	height: 250px!important;
}
