.scrollspy {
	position: fixed;
	right: 15%;
	top: 16%;
}

.scrollspy nav {
	background: none!important;
	border: none!important;
}

.row {
  margin-bottom: 25px;
}

.row h1 {
	font-size: 24px;
	font-family: "Optima", "Microsoft YaHei", sans-serif;
}

.row p {
  margin-left: 35px;
	font-size: 18px;
	font-family: "Optima", "Microsoft YaHei", sans-serif;
}

li {
	font-size: 18px;
}

