.row p {
	font-family: "Optima", "Microsoft YaHei", sans-serif;
	font-size: 16px;
	line-height: 26px;
}

.card {
	font-family: "Candara", "幼圆", sans-serif!important;
	font-size: 18px!important;
	padding: 15px 0 15px 0;
	background-color: #eee;
}

hr {
	margin: 35px 0 35px 0!important;
}

img {
	width: 90%;
	float: right;
}
