body {
	margin-top: 50px!important;
}

.fixed-menu-button {
	position: fixed;
	bottom: 12%;
	right: 6%;
	z-index: 999;
}

.mdl-menu.mdl-menu--top-right {
	position: fixed!important;
	top: initial!important;
	left: initial!important;
	bottom: 16%!important;
	right: 6%!important;
	width: 180px!important;
	height: 250px!important;
}

.mdl-menu__outline.mdl-menu--top-right {
	position: fixed!important;
	top: initial!important;
	left: initial!important;
	bottom: 16%!important;
	right: 6%!important;
	width: 180px!important;
	height: 250px!important;
}

.bottom a, .bottom p {
	font-family: "Consolas", "Microsoft YaHei", sans-serif;
	font-size: 16px;
}

a:link {
	text-decoration: none!important;
}

a:visited {
	text-decoration: none!important;
}

a:hover {
	text-decoration: none!important;
}

a:active {
	text-decoration: none!important;
}

.md-dp-2-front {
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.16)
}

.md-dp-2-top {
	box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.16);
}

.md-dp-2-rised-front {
	transition: all 0.4s ease;
}

.md-dp-2-rised-top {
	transition: all 0.4s ease;
}

.md-dp-2-rised-front:hover {
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.16);
}

.md-dp-2-rised-top:hover {
	box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.16);
}

.md-dp-6-rised-front {
	transition: all 0.4s ease;
}

.md-dp-6-rised-top {
	transition: all 0.4s ease;
}

.md-dp-6-rised-front:hover {
	box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.16);
}

.md-dp-6-rised-top:hover {
	box-shadow: 0 6px 18px 3px rgba(0, 0, 0, 0.16);
}
