header {
	background-color: #666!important;
}

.top {
	font-family: "Consolas", "Microsoft YaHei", sans-serif;
	height: 50px;
	margin: none;
}

.top .mdl-layout-title {
	margin: 0 0 0 100px;
	font-family: "Candara", sans-serif;
	font-size: 26px;
	letter-spacing: 2px;
}

.top .navbar {
	margin: 0 100px 0 0;
	background-color: #666;
	height: 50px;
	border: none;
}

.top .selector {
	border-radius: 5px 5px 5px 5px;
	font-size: 16px;
}

.top li a {
	color: #eee!important;
}

a:link {
	text-decoration: none!important;
}

a:visited {
	text-decoration: none!important;
}

a:hover {
	text-decoration: none!important;
}

a:active {
	text-decoration: none!important;
}

.md-dp-2 {
	box-shadow:
		0 1px 5px 0 rgba(0,0,0,.2),
		0 2px 2px 0 rgba(0,0,0,.14),
		0 3px 1px -2px rgba(0,0,0,.12);
}

.md-dp-2-rised {
	transition: all 0.4s ease!important;
}

.md-dp-2-rised:hover {
	box-shadow:
		0 1px 5px 0 rgba(0,0,0,.2),
		0 2px 2px 0 rgba(0,0,0,.14),
		0 3px 1px -2px rgba(0,0,0,.12);
}

.md-dp-4-rised {
	transition: all 0.4s ease!important;
}

.md-dp-4-rised:hover {
	box-shadow:
		0 2px 4px -1px rgba(0,0,0,.2),
		0 4px 5px 0 rgba(0,0,0,.14),
		0 1px 10px 0 rgba(0,0,0,.12);
}

.md-dp-6-rised {
	transition: all 0.4s ease!important;
}

.md-dp-6-rised:hover {
	box-shadow:
		0 3px 5px -1px rgba(0,0,0,.2),
		0 6px 10px 0 rgba(0,0,0,.14),
		0 1px 18px 0 rgba(0,0,0,.12);
}

